.hex-tile--hills {
  &-1 {
    clip-path: polygon(
      2px 60px,
      4px 61px,
      6px 59px,
      7px 57px,
      13px 54px,
      15px 56px,
      18px 54px,
      19px 54px,
      21px 52px,
      24px 50px,
      27px 50px,
      33px 47px,
      33px 46px,
      36px 45px,
      40px 42px,
      46px 43px,
      47px 44px,
      50px 45px,
      51px 46px,
      54px 46px,
      57px 49px,
      61px 50px,
      64px 52px,
      68px 53px,
      70px 55px,
      73px 56px,
      74px 57px,
      77px 59px,
      80px 57px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-2 {
    clip-path: polygon(
      3px 60px,
      7px 60px,
      13px 55px,
      18px 53px,
      20px 53px,
      24px 50px,
      27px 50px,
      31px 46px,
      33px 46px,
      37px 43px,
      39px 43px,
      43px 39px,
      44px 39px,
      49px 41px,
      50px 43px,
      52px 43px,
      54px 47px,
      59px 46px,
      60px 49px,
      61px 49px,
      64px 52px,
      68px 54px,
      69px 55px,
      71px 56px,
      73px 56px,
      76px 58px,
      79px 59px,
      82px 61px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-3 {
    clip-path: polygon(
      1px 61px,
      4px 59px,
      6px 59px,
      8px 58px,
      10px 56px,
      14px 54px,
      19px 53px,
      23px 52px,
      25px 49px,
      29px 47px,
      33px 47px,
      34px 46px,
      36px 46px,
      38px 44px,
      39px 44px,
      41px 42px,
      46px 42px,
      51px 46px,
      55px 47px,
      58px 49px,
      60px 49px,
      63px 52px,
      65px 52px,
      67px 54px,
      71px 56px,
      74px 56px,
      77px 58px,
      80px 59px,
      82px 61px,
      85px 63px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-4 {
    clip-path: polygon(
      0px 63px,
      2px 60px,
      5px 59px,
      9px 56px,
      13px 56px,
      16px 53px,
      19px 53px,
      21px 51px,
      26px 49px,
      32px 46px,
      35px 45px,
      40px 42px,
      42px 41px,
      43px 41px,
      47px 43px,
      48px 43px,
      51px 45px,
      57px 47px,
      60px 50px,
      63px 51px,
      67px 53px,
      68px 53px,
      70px 54px,
      73px 54px,
      76px 56px,
      77px 58px,
      80px 60px,
      81px 60px,
      85px 63px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }
}
