.hex-tile--forest {
  &-1 {
    clip-path: polygon(
      2px 60px,
      5px 60px,
      5px 56px,
      7px 54px,
      10px 51px,
      13px 50px,
      14px 47px,
      16px 46px,
      17px 44px,
      21px 45px,
      21px 43px,
      24px 40px,
      25px 37px,
      28px 36px,
      29px 35px,
      31px 35px,
      33px 37px,
      34px 39px,
      35px 39px,
      37px 41px,
      37px 43px,
      40px 42px,
      43px 40px,
      47px 40px,
      50px 43px,
      54px 40px,
      56px 40px,
      57px 41px,
      58px 43px,
      60px 45px,
      62px 46px,
      63px 47px,
      66px 46px,
      68px 46px,
      70px 49px,
      73px 53px,
      73px 55px,
      77px 58px,
      80px 59px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-2 {
    clip-path: polygon(
      1px 61px,
      3px 60px,
      3px 58px,
      6px 55px,
      11px 57px,
      12px 57px,
      16px 52px,
      20px 52px,
      22px 50px,
      24px 50px,
      25px 48px,
      26px 47px,
      27px 45px,
      32px 39px,
      34px 38px,
      36px 38px,
      36px 36px,
      38px 35px,
      42px 38px,
      42px 41px,
      46px 42px,
      52px 46px,
      52px 44px,
      54px 43px,
      56px 40px,
      59px 37px,
      63px 38px,
      64px 39px,
      68px 43px,
      67px 46px,
      69px 51px,
      74px 49px,
      78px 50px,
      82px 49px,
      84px 51px,
      84px 57px,
      83px 60px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-3 {
    clip-path: polygon(
      0px 61px,
      5px 58px,
      8px 53px,
      14px 51px,
      17px 54px,
      18px 53px,
      16px 50px,
      19px 45px,
      22px 45px,
      22px 43px,
      25px 40px,
      29px 41px,
      32px 45px,
      32px 42px,
      34px 40px,
      34px 39px,
      37px 36px,
      39px 36px,
      40px 34px,
      42px 34px,
      43px 37px,
      42px 38px,
      44px 39px,
      46px 39px,
      46px 37px,
      49px 33px,
      53px 32px,
      55px 36px,
      55px 38px,
      57px 40px,
      59px 40px,
      61px 38px,
      64px 40px,
      68px 46px,
      71px 43px,
      73px 45px,
      75px 47px,
      76px 49px,
      79px 49px,
      81px 50px,
      82px 53px,
      84px 56px,
      84px 59px,
      83px 62px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-4 {
    clip-path: polygon(
      1px 61px,
      5px 60px,
      4px 58px,
      5px 54px,
      10px 51px,
      10px 48px,
      13px 46px,
      13px 44px,
      18px 38px,
      21px 40px,
      23px 44px,
      28px 46px,
      28px 45px,
      31px 43px,
      34px 45px,
      38px 43px,
      41px 40px,
      46px 40px,
      50px 45px,
      52px 45px,
      54px 46px,
      58px 42px,
      60px 41px,
      63px 41px,
      66px 44px,
      67px 48px,
      71px 50px,
      74px 54px,
      76px 57px,
      84px 61px,
      84px 63px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }
}
