.hex-tile--jungle {
  &-1 {
    clip-path: polygon(
      1px 62px,
      0px 60px,
      0px 57px,
      4px 52px,
      6px 54px,
      8px 53px,
      10px 54px,
      10px 50px,
      14px 44px,
      15px 44px,
      15px 41px,
      21px 40px,
      23px 42px,
      28px 47px,
      32px 46px,
      35px 42px,
      38px 42px,
      40px 40px,
      45px 40px,
      46px 36px,
      49px 37px,
      52px 36px,
      53px 38px,
      51px 40px,
      54px 43px,
      53px 46px,
      56px 41px,
      58px 39px,
      60px 38px,
      63px 40px,
      66px 39px,
      71px 42px,
      72px 46px,
      70px 47px,
      70px 51px,
      73px 52px,
      75px 54px,
      80px 53px,
      81px 56px,
      81px 60px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-2 {
    clip-path: polygon(
      0px 56px,
      3px 55px,
      2px 52px,
      3px 48px,
      7px 45px,
      8px 47px,
      9px 45px,
      13px 41px,
      16px 38px,
      19px 40px,
      21px 39px,
      23px 41px,
      27px 39px,
      27px 42px,
      34px 36px,
      37px 38px,
      38px 41px,
      39px 39px,
      41px 39px,
      45px 32px,
      47px 35px,
      51px 33px,
      50px 38px,
      53px 42px,
      51px 45px,
      54px 41px,
      54px 38px,
      57px 40px,
      58px 35px,
      63px 34px,
      64px 36px,
      70px 40px,
      71px 43px,
      78px 48px,
      79px 51px,
      83px 55px,
      84px 57px,
      82px 61px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-3 {
    clip-path: polygon(
      6px 49px,
      11px 45px,
      15px 45px,
      19px 50px,
      23px 50px,
      20px 47px,
      24px 39px,
      27px 41px,
      31px 41px,
      34px 45px,
      42px 41px,
      47px 41px,
      50px 44px,
      55px 40px,
      56px 42px,
      59px 41px,
      58px 44px,
      62px 48px,
      66px 45px,
      71px 46px,
      72px 50px,
      74px 51px,
      77px 48px,
      84px 48px,
      85px 50px,
      85px 57px,
      81px 60px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-4 {
    clip-path: polygon(
      7px 52px,
      12px 49px,
      18px 47px,
      18px 44px,
      25px 36px,
      28px 38px,
      34px 38px,
      39px 42px,
      44px 41px,
      50px 45px,
      54px 42px,
      59px 42px,
      60px 43px,
      62px 41px,
      68px 49px,
      70px 49px,
      73px 52px,
      75px 51px,
      80px 53px,
      80px 60px,
      83px 61px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }
}
