.hex-tile--mountain {
  position: absolute;
  transition: transform 0.1s;
}

.hex-tile--mountain:hover:after {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: '';
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hex-tile--mountain-1 {
  composes: hex-tile--mountain;
  clip-path: polygon(
    42px 11px,
    47px 16px,
    52px 16px,
    59px 24px,
    62px 36px,
    70px 41px,
    71px 47px,
    85px 64px,
    85px 107px,
    42px 128px,
    0px 107px,
    0px 64px,
    13px 42px,
    28px 21px
  );
}

.hex-tile--mountain-2 {
  composes: hex-tile--mountain;
  clip-path: polygon(
    2px 55px,
    5px 53px,
    9px 44px,
    15px 41px,
    22px 28px,
    34px 29px,
    44px 36px,
    53px 34px,
    58px 30px,
    63px 25px,
    73px 34px,
    76px 43px,
    85px 64px,
    85px 107px,
    42px 128px,
    0px 107px,
    0px 64px
  );
}

.hex-tile--mountain-3 {
  composes: hex-tile--mountain;
  clip-path: polygon(
    3px 59px,
    5px 53px,
    9px 44px,
    15px 41px,
    23px 38px,
    29px 44px,
    35px 36px,
    48px 38px,
    53px 33px,
    63px 34px,
    70px 38px,
    77px 48px,
    85px 64px,
    85px 107px,
    42px 128px,
    0px 107px,
    0px 64px
  );
}

.hex-tile--mountain-4 {
  composes: hex-tile--mountain;
  clip-path: polygon(
    6px 41px,
    16px 26px,
    32px 11px,
    41px 19px,
    41px 23px,
    51px 33px,
    52px 37px,
    56px 37px,
    60px 46px,
    70px 41px,
    78px 49px,
    81px 57px,
    85px 64px,
    85px 107px,
    42px 128px,
    0px 107px,
    0px 64px
  );
}
