.hex-tile--plains {
  &-1 {
    clip-path: polygon(
      6px 59px,
      8px 59px,
      12px 55px,
      17px 55px,
      25px 49px,
      29px 49px,
      36px 44px,
      37px 44px,
      41px 42px,
      44px 42px,
      52px 46px,
      58px 49px,
      60px 51px,
      63px 51px,
      67px 54px,
      70px 55px,
      73px 56px,
      74px 58px,
      76px 57px,
      79px 60px,
      82px 61px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-2 {
    clip-path: polygon(
      7px 58px,
      9px 59px,
      15px 54px,
      20px 53px,
      28px 48px,
      31px 48px,
      37px 44px,
      41px 42px,
      46px 42px,
      47px 44px,
      49px 44px,
      51px 46px,
      59px 49px,
      60px 51px,
      62px 51px,
      71px 56px,
      75px 56px,
      78px 60px,
      80px 60px,
      83px 62px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-3 {
    clip-path: polygon(
      3px 60px,
      8px 58px,
      10px 58px,
      16px 54px,
      18px 54px,
      21px 52px,
      23px 50px,
      27px 50px,
      30px 47px,
      33px 46px,
      37px 45px,
      41px 42px,
      44px 42px,
      47px 44px,
      50px 44px,
      53px 47px,
      57px 48px,
      58px 50px,
      61px 50px,
      66px 54px,
      70px 54px,
      74px 58px,
      77px 59px,
      79px 59px,
      83px 61px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }

  &-4 {
    clip-path: polygon(
      3px 61px,
      5px 61px,
      10px 57px,
      12px 56px,
      13px 57px,
      15px 55px,
      19px 52px,
      23px 52px,
      27px 49px,
      29px 48px,
      32px 47px,
      34px 45px,
      37px 44px,
      38px 43px,
      40px 43px,
      43px 42px,
      46px 42px,
      49px 44px,
      52px 47px,
      54px 47px,
      56px 49px,
      59px 59px,
      61px 51px,
      64px 52px,
      66px 53px,
      67px 53px,
      70px 56px,
      71px 56px,
      73px 57px,
      76px 58px,
      78px 60px,
      79px 60px,
      81px 61px,
      84px 62px,
      84px 63px,

      100% 50%,
      100% 117%,
      50% 134%,
      0% 117%,
      0% 50%
    );
  }
}
