$white: #ffffff;
$grey-20: #363636;
$grey-90: #f5f5f5;
$gunmetal-blue: #000614;
$neon-blue: #5a54fe;

/* Body variables */
$body-background: $gunmetal-blue;
$body-text: $white;

/* Primary color palette */
$primary: $neon-blue;
$primary-accent: $white;
$primary-text: $white;

/* Neutral color palette */
$neutral-base: $white;
$neutral-accent: $grey-90;
$neutral-text: $grey-20;
