@import '../styles/variables';

.app-nav {
  background: $body-background;
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &__brand {
    color: $neutral-base;
    display: inline-block;
    line-height: 32px;
    margin: 20px;
    position: absolute;

    &-icon {
      color: inherit;
      font-size: 32px;
      line-height: 32px;
      padding-right: 8px;
      vertical-align: top;
    }
  }

  &__sequence {
    color: $neutral-base;
    display: flex;
    flex: 1;
    justify-content: center;
    line-height: 32px;
    margin: 20px;

    &-item {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 16px;
      }

      &:first-of-type:before {
        content: none;
      }
    }
  }
}
