@import '../styles/variables';

.app-nav {
  background: $body-background;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &__brand {
    color: $neutral-base;
    display: inline-block;
    line-height: 32px;
    margin: 20px;

    &-icon {
      color: inherit;
      font-size: 32px;
      line-height: 32px;
      padding-right: 8px;
      vertical-align: top;
    }
  }
}
