$neon-blue: #5a54fe;
$white: #ffffff;

.terrain-modal {
  background: $white;
  border-radius: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  z-index: 999;

  &__header {
    margin-bottom: -12px;
    padding: 16px 20px 0;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
  }

  &__footer {
    background: #f4f5f7;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 16px 20px;
    text-align: right;
  }
}

.button {
  background: none;
  border: none;
  border-radius: 8px;
  display: inline-block;

  &--action {
    background-color: $neon-blue;
    color: $white;
  }
}

.icon {
  display: inline-block;

  &--circle {
    background: rgba(90, 84, 254, 0.4);
    border-radius: 20px;
    color: $neon-blue;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }
}

.terrain-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 0 16px 32px;

  li {
    display: block;
  }

  &__option {
    background: none;
    border: none;
    cursor: pointer;
    display: block;

    img {
      display: block;
      filter: grayscale(0.8);
      margin-top: 12px;
      transition: filter 0.2s ease;
      width: 85px;
    }

    &:hover img {
      filter: none;
    }
  }

  &__name {
    font-weight: bold;
    margin-top: 8px;
    text-transform: capitalize;
  }
}