$gunmetal-blue: #000614;

.grid {
  align-items: center;
  background: $gunmetal-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  transition: margin 0.2s;
}
