@import '../styles/variables';

.grid {
  align-items: center;
  background: $body-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  transition: margin 0.2s;
}
