@import '../styles/variables';

.terrain-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  li {
    display: block;
  }

  &__option {
    align-items: center;
    background: $neutral-accent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    padding: 0 0 12px;
    width: 120px;

    img {
      display: block;
      margin-top: -4px;
      width: 85px;
    }

    &:focus {
      outline: none;
    }

    &--active, &:hover {
      background: $primary;
      color: $primary-text;

      img {
        filter: grayscale(1);
      }
    }
  }

  &__name {
    font-weight: bold;
    margin-top: 8px;
    text-transform: capitalize;
  }
}